.tools {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.imgs {
    width: 26px;
    height: 26px;
}