.app-tools {
  position: fixed;
  top: 50px;
  right: 8px;
}

.app-tool {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 10px;
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 1px seagreen solid;
  font-size: 10px;
  cursor: pointer;
  transition: color 1s, background-color 1s;
  margin-bottom: 5px;
  user-select: none;
}
.app-tool:hover {
  color: black;
  background-color: white;
}
